* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body {
  height: 100vh;
  width: 100%;
  background: #121b25;
}
section {
  padding: 80px 13% 70px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, auto));
  gap: 56px;
  background: #1a242f;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-content img {
  width: 80px;
}

.icons img {
  width: 20px;
}
