* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body {
  height: 100vh;
  width: 100%;
  background: #121b25;
}
section {
  padding: 80px 13% 70px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, auto));
  gap: 56px;
  background: #1a242f;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-content img {
  width: 80px;
}

.icons img {
  width: 20px;
  display: inline-block;
  margin-right: 17px;
  transition: all 0.4s ease;
}

.icons img:hover {
  transform: translateY(-3px) translateX(-5px);
  color: #fff;
}

.menu h4 {
  color: #fff;
  margin-bottom: 24px;
  font-size: 20px;
}

.menu li {
  margin-bottom: 16px;
}
.menu li a {
  display: block;
  color: #d6d6d6;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.4s ease;
}
.menu li a:hover {
  transform: translateY(-3px) translateX(-5px);
  color: #fff;
}

.footer-content p {
  color: #d6d6d6;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0;
  max-width: 300px;
}

@media (max-width: 1690px) {
  section {
    padding: 50px 5% 40px;
  }
}

@media (max-width: 1120px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    gap: 32px;
  }
}

@media (max-width: 700px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, auto));
    gap: 40px;
  }
}
